@import './colors/amber.styl'

// TODO: I need to find a way to share this from javascript
$primary-action = rgb(0, 0, 238)

$primary-text = rgba(0, 0, 0, 0.87)
$secondary-text = rgba(0, 0, 0, 0.54)
$disabled-text = rgba(0, 0, 0, 0.38)
$hint-text = $disabled-text

$border-color = rgba(0, 0, 0, 0.12)

$accent-text = $cc-A200
$accent-color = $accent-text

$secondary-bg-hover = #fafafa
$secondary-fg-hover = $primary-action
$primary-focus = orange

$primary-bg-hover = #F5F9FF
$primary-fg-hover = $primary-action

$search-width = 392px
$search-width-sm = 362px

$sidebar-width = $search-width + 16px
$screen-lg = 1600px

$screen-sm-min = 500px
$screen-md-min = 800px
$screen-sm-min-height = 600px

$explore-btn-height = 42px