.coordinate-plane {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 120px;
}

.axes-container {
  position: relative;
  width: 80px;
  height: 80px;
  background: transparent;
  color: white;
}

.ship {
  display: flex;
  width: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  height: var(--space-ship-height);
  background: transparent;
  justify-content: space-between;
}

.ship .center {
  flex: 1;
  background-color: var(--space-ship-second-color);
}

.left {
  border-left: 14px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: var(--space-ship-height) solid var(--space-ship-color);
  width: 0px;
  height: 0px;
}

.right {
  border-right: 14px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: var(--space-ship-height) solid var(--space-ship-color);
  width: 0px;
  height: 0px;
}

.axes {
  position: absolute;
  transform: rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.horizontal {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--horizontal-axis-color);
  text-align: right;
}

.vertical {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--vertical-axis-color);
}

.right-arrow {
  position: absolute;
  right: -5px;
  width: 0;
  height: 0;
  top: -3px;
  border-left: 12px solid var(--horizontal-arrow-color);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.top-arrow {
  position: absolute;
  right: -3px;
  width: 0;
  height: 0;
  top: -5px;
  border-bottom: 12px solid var(--vertical-arrow-color);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.axis-label {
  font-size: 12px;
  font-family: sans-serif;
}

.vertical .axis-label {
  position: relative;
  left: -12px;
  top: -8px
}

.location {
  position: absolute;
  bottom: -12px;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  border: 0;
}

.plane-axis {
  position: absolute;
  top: 50%;
  width: 100%;
}

.plane-level {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 15px);
}

.ship-pitch {
  transform-origin: 15px 2px;
  position: absolute;
}

.ship-body {
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: var(--space-ship-color);
}

.ship-tail {
  width: 0;
  height: 0;
  position: absolute;
  top: -14px;
  border-left: 0px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 14px solid var(--space-ship-second-color);
}

.cross-container {
  position: absolute;
  color: white;
  pointer-events: none;
}

.cross-container .indicator {
  text-align: center;
  position: relative;
  top: 8px;
}
.cross-location {
  color: #444;
}
.hue-picker {
  margin-top: 20px;
  position: relative;
}